<!-- USAGE MANUAL:																								-->
<!-- in the case that you include this file in another launch file,												-->
<!-- provide the args:																							-->
<!-- 	simulation: true if you only want to simulate it (rviz | gazebo)										-->
<!-- 	load_controllers: true if you want to load the controllers either 										-->
<!-- 	name_space: the namespace under which all nodes and topics will be grouped.								-->
<!-- default topics, params, etc.:																				-->
<!-- 		/cartesian_/robot_description																		-->
<!-- 		/cartesian_/joint_states																			-->

<launch>
	
	<!-- the ns of the cartesian robot -->
	<arg name="name_space" default="cartesian_" />
	<!-- when including this launch file into another launch file, provide the simulation argument as false if it is not a simulation -->
	<arg name="simulation" default="false" />
	<!-- true if you want to load the controllers either  -->
	<arg name="load_controllers" default="false" />
	<!-- set joint names  -->
	<arg name="joint1_name" default="joint1" />
	<arg name="joint2_name" default="joint2" />
	<arg name="joint3_name" default="joint3" />
	
	<param name="cartesian_robot_name" value="$(arg name_space)" />
	<param name="joint1" value="$(arg joint1_name)" />
	<param name="joint2" value="$(arg joint2_name)" />
	<param name="joint3" value="$(arg joint3_name)" />

	<group ns="/$(arg name_space)" >
		<param if="$(arg simulation)" name="robot_description" textfile="$(find cartesian_description)/urdf/cartesian_robot_simulation.urdf" />
		<param unless="$(arg simulation)" name="robot_description" textfile="$(find cartesian_description)/urdf/cartesian_robot_hardware.urdf" />	
	
		<!-- robot state publisher -->
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

		<!-- joint state publisher or cartesian_controllers -->
		<include if="$(arg load_controllers)" file="$(find cartesian_controller)/launch/cartesian_controller.launch" >
			<arg name="name_space" value="$(arg name_space)" />
		</include>
		<node unless="$(arg load_controllers)" pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
			<remap from="/joint_states" to="/$(arg name_space)/joint_states" />
		</node>

		<!-- load motors parameters to rosparam -->
		<rosparam file="$(find cartesian_description)/config/motors.yaml" command="load" />
		
		<!-- load inverse kinematics node -->
		<node name="cartesian_ik_node" pkg="cartesian_robot" type="cartesian_ik_node" />
	</group>
	
</launch>
