<launch>
	<arg name="simulation" default="false" />
	
	<param if="$(arg simulation)" name="robot_description" textfile="$(find cartesian_description)/urdf/cartesian_robot_simulation.urdf" />	
	<param unless="$(arg simulation)" name="robot_description" textfile="$(find cartesian_description)/urdf/cartesian_robot_hardware.urdf" />	
	
	<!-- robot state publisher -->
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

	<!-- joint state publisher with gui -->
	<param name="use_gui" value="true" />
	<!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->
	
</launch>
